body {
    color: black;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
  .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    font-size: 20px;
  }
  .waviy span {
    padding-top: 340px;
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color:#cc0f0f;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }